executing==2.1.0
pexpect==4.9.0
Pygments==2.19.1
protobuf==5.29.4
idna==3.10
setuptools==75.8.0
traitlets==5.14.3
nest_asyncio==1.6.0
sentry-sdk==2.24.0
kiwisolver==1.4.8
ptyprocess==0.7.0
pillow==11.1.0
unicodedata2==15.1.0
fonttools==4.55.3
parso==0.8.4
importlib_metadata==8.6.1
zipp==3.21.0
ipython==9.0.2
requests==2.32.3
pickleshare==0.7.5
pydantic==2.10.6
transformers==4.49.0
GitPython==3.1.44
huggingface-hub==0.29.3
networkx==3.4.2
jedi==0.19.2
jupyter_client==8.6.3
asttokens==3.0.0
tqdm==4.67.1
psutil==5.9.0
psutil==7.0.0
urllib3==2.3.0
exceptiongroup==1.2.2
click==8.1.8
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
appnope==0.1.4
decorator==5.2.1
tokenizers==0.21.1
stack_data==0.6.3
jupyter_core==5.7.2
pip==25.0
pyparsing==3.2.0
regex==2024.11.6
cycler==0.11.0
gitdb==4.0.12
matplotlib==3.10.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
torch==2.6.0
wandb==0.19.8
Brotli==1.0.9
certifi==2025.1.31
setproctitle==1.3.5
pydantic_core==2.27.2
Jinja2==3.1.6
wheel==0.45.1
filelock==3.18.0
comm==0.2.2
numpy==2.0.1
numpy==2.2.3
accelerate==1.5.2
pure_eval==0.2.3
tornado==6.4.2
h5py==3.13.0
fsspec==2025.3.0
docker-pycreds==0.4.0
contourpy==1.3.1
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
matplotlib-inline==0.1.7
smmap==5.0.2
safetensors==0.5.3
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipykernel==6.29.5
annotated-types==0.7.0
debugpy==1.8.11
six==1.17.0
MarkupSafe==3.0.2
